<div class="w-full max-w-5xl mx-auto flex flex-col items-center gap-4 p-4">
  <h1 class="{{ hlmH1 }}">Medical Examination</h1>
  <hlm-tabs tab="manage-appointments" class="w-full">
    <hlm-tabs-list class="w-full grid grid-cols-3" aria-label="tabs example">
      <button hlmTabsTrigger="manage-appointments">Manage Appointments</button>
      <button hlmTabsTrigger="confirm-appointments">
        Confirm Appointments
      </button>
      <button hlmTabsTrigger="unlock-next-step">Appointments Results</button>
    </hlm-tabs-list>

    <div hlmTabsContent="manage-appointments">
      <section hlmCard>
        <div hlmCardHeader>
          <h3 hlmCardTitle>Manage Appointments</h3>
          <p hlmCardDescription>
            View and manage appointments for your clients. Below, you'll see the
            same appointments your clients can view. As an admin, you can delete
            an appointment using the delete icon or create a new one using the
            "+" button. Changes are shownd localy and once you are ready to
            apply them, click "Save Changes".
          </p>
        </div>
        <p hlmCardContent>
          <appointment-menagment-data-table
            [data]="appointments()"
            (saveChanges)="onSaveChanges($event)"
          ></appointment-menagment-data-table>
        </p>
      </section>
    </div>

    <div hlmTabsContent="confirm-appointments">
      <section hlmCard>
        <div hlmCardHeader>
          <h3 hlmCardTitle>Confirm Appointments</h3>
          <p hlmCardDescription>
            Approve or decline appointments for your clients. Use the check icon
            to confirm an appointment or the cancel icon to decline it. The app
            will notify the client about your decision. Don't forget to click
            "Save Changes" to apply your updates.
          </p>
        </div>
        <p hlmCardContent>
          <appointment-confirmation-data-table
            [data]="appointmentConfirmationRequests()"
            (confirmationAccepted)="onConfirmationAccepted($event)"
            (confirmationRejected)="onConfirmationRejected($event)"
          ></appointment-confirmation-data-table>
        </p>
      </section>
    </div>

    <div hlmTabsContent="unlock-next-step">
      <section hlmCard>
        <div hlmCardHeader>
          <h3 hlmCardTitle>Unlock Next Step</h3>
          <p hlmCardDescription>
            After your clients have attended their appointment, you will receive
            a confirmation email from the clinic. Verify that everything is in
            order, then unlock the next step for your clients. Click "Save
            Changes" once you are ready to proceed.
          </p>
        </div>
        <p hlmCardContent>
          <appointment-result-data-table
            [data]="appointmentResults()"
          ></appointment-result-data-table>
        </p>
      </section>
    </div>
  </hlm-tabs>
</div>

<div class="flex flex-col gap-2 p-2 bg-blue-100">

  <!-- 
  <button (click)="simulateAdminConfirmedAppointment()">
    Simulate Admin Confirmed Appointment
  </button>
  <button (click)="simulateAdminDeclinedAppointment()">
    Simulate Admin Declined Appointment
  </button>

  <button (click)="simulateAdminGrantedAccesToPsychologicalExamination()">
    Simulate Admin Granted Access To Psychological Examination
  </button>
  <button (click)="simulateAdminDeniedAccesToPsychologicalExamination()">
    Simulate Admin Denied Access To Psychological Examination
  </button> -->
</div>
