<div class="w-full max-w-4xl p-4 flex flex-col gap-4 items-center justify-center mx-auto ">
    <h1 class="{{ hlmH1 }} hidden md:block"> {{ currentModel.title }} </h1>

    <div class="w-full flex flex-col md:flex-row gap-4 ">

        <hlm-carousel class="w-full md:w-2/5">
            <hlm-carousel-content>
                @for (model of models; track model.id) {
                <hlm-carousel-item>
                    <section hlmCard class="relative">
                        <carousel-page-item [model]="model"></carousel-page-item>
                        <h1 class="md:hidden absolute bottom-4 w-full  text-center font-bold"> {{ currentModel.title }}
                        </h1>
                    </section>
                </hlm-carousel-item>
                }
            </hlm-carousel-content>
        </hlm-carousel>

        <div class="w-full md:w-3/5 border flex flex-col gap-2 p-2">
            <carousel-page-result class="w-full h-full" [componentType]="currentModel.resultComponent">
            </carousel-page-result>
        </div>
    </div>

    <carousel-page-content class="md:w-full" [componentType]="currentModel.contentComponent">
    </carousel-page-content>


</div>