<hlm-alert-dialog>
  <button hlmBtn variant="ghost" brnAlertDialogTrigger class="h-6 w-6 p-0">
    <hlm-icon class="w-4 h-4" name="lucideTrash2" class="text-red-500" />
  </button>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle>{{ title() }}</h3>
      <p hlmAlertDialogDescription>
        Are you absolutly sure you want to proceed? Data will be removed localy and can be retrived by 
        refreshing the page, until you save the changes.
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
      <button
        hlmAlertDialogAction
        (click)="tryDeleteAppointmentLoccaly() && ctx.close()"
      >
        Delete
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
