<div class="w-full max-w-4xl p-4 flex flex-col gap-4 items-center justify-center mx-auto">
    <h1 class="{{ hlmH1 }}"> {{ currentModel.title }} </h1>

    <div class="w-full flex flex-row gap-4 p-4 ">
        <hlm-carousel class="w-2/5">
            <hlm-carousel-content>
                @for (model of models; track model.id) {
                <hlm-carousel-item>
                    <section hlmCard>
                        <carousel-page-item [model]="model"></carousel-page-item>
                    </section>
                </hlm-carousel-item>
                }
            </hlm-carousel-content>
        </hlm-carousel>
        <div class="w-3/5 border flex flex-col gap-2 p-2">
            <button class="flex mt-auto" hlmBtn (click)="handleClick()">
                <hlm-icon size="sm" class="mr-2" name="lucideCheck" />
                Unlock next assigment
            </button>
        </div>
    </div>

    <div class="w-full flex flex-row gap-4 p-4 ">
        <carousel-page-dynamic-widget 
            class="w-full"
            [componentType]="currentModel.widgetMetaData.widget"
            [inputs]="currentModel.widgetMetaData.inputs">
        </carousel-page-dynamic-widget>
    </div>


</div>